<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
        <title>Word Frequency</title>
    </head>
    <body>
        <div class="container">
            <h2>Word Count Results</h2>
            <h4>Our investigators on staff have come back with their findings. </h4>
            <p>INVESTIGATOR NOTES: You used that word {{ result }} times!</p>
            <img src="img/datboi.gif">
            <a href="/">Home</a>
        </div>
    </body>
</html>
